spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

mal:
  client-id: ${MAL_CLIENT_ID}

OIDC:
  issuer: ${OIDC_ISSUER}
  client-id: ${OIDC_CLIENT_ID}
